<form action="/stocks" method="POST">
    <input type="text" placeholder="輸入股票名稱..." name="stockName">
    <input type="text" placeholder="請輸入股票代號..." name="stock_number">
    <input type="number" placeholder="價格..." name="price">

    <button type="submit">新增</button>
</form>